{% extends "customer/app_base.html" %}
{% load static %}
{% block content %}
{% load string_multiply%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patron Details</title>
    <link rel="stylesheet" href="{% static 'css/patrondetails.css' %}">
</head>



<body>
  <h1 class="headline">Patron Details</h1>

  <button class="backBtn" onclick = "document.location='{% url 'patron' %}'">Back to Patrons</button>
  <h4>Last Edited By:</h4> <span id="author">Lauren Shver</span> <h4>on</h4> <span id="author">02-12-2021</span>
  <div class="grid-container">

    <div id="wrapper">

        <section>
          <div id="editDocument">
            <h1 id="title">Basic Information</h1>
            <table class="contact-information">
            <tr>
              <th>Customer ID: </th>
              <td>{{ patron.CustomerID.CustomerID }}</td>
            </tr>
            <tr>
              <th>Name: </th>
              <td>{{ patron.FirstName }} {{ patron.LastName }}</td>
            </tr>
            <tr>
              <th>Customer Rating: </th>
              <td>{% filter multiply:patron.CustomerID.CustomerRating %}
                <i class="fa fa-star checked"></i>
                {% endfilter %}
                {% filter unchecked:patron.CustomerID.CustomerRating %}
                <i class="fa fa-star unchecked"></i>
                {% endfilter %}</td>
            </tr>
            <tr>
              <th>Notes: </th>
              <td>{% if patron.CustomerID.CustomerNotes %}
              {{ patron.CustomerID.CustomerNotes }}
              {% else %}
              No Notes
              {% endif %}
              </td>
            </tr>
          </table>
          </div>
        </section>
    

      <script>
        var editBtn = document.getElementById('editBtn');
        var editables = document.querySelectorAll('#title, #author, #content')
        
        editBtn.addEventListener('click', function(e) {
            if (!editables[0].isContentEditable) {
                editables[0].contentEditable = 'true';
                editables[1].contentEditable = 'true';
                editables[2].contentEditable = 'true';
                editables[3].contentEditable = 'true';
                editables[4].contentEditable = 'true';
                editables[5].contentEditable = 'true';
                editables[6].contentEditable = 'true';
                editBtn.innerHTML = 'Save Changes';
                editBtn.style.backgroundColor = '#b56576ff';
             } else {
            // Disable Editing
            editables[0].contentEditable = 'false';
            editables[1].contentEditable = 'false';
            editables[2].contentEditable = 'false';
            editables[3].contentEditable = 'false';
            editables[4].contentEditable = 'false';
            editables[5].contentEditable = 'false';
            editables[6].contentEditable = 'false';
            // Change Button Text and Color
            editBtn.innerHTML = 'Edit Patron Details';
            editBtn.style.backgroundColor = '#355070ff';
            // Save the data in localStorage 
            for (var i = 0; i < editables.length; i++) {
              localStorage.setItem(editables[i].getAttribute('id'), editables[i].innerHTML);
            }
          }
        });      
      </script>
    </div>

    <div id="wrapper1">
      <section>
        <div id="editDocument1">
          <h1 id="title">Address</h1>
          <table class="contact-information">
            <tr>
              <th>Address:</th>
              {% if patron.AddressID.AptSuite %}
                  <td>{{patron.AddressID.Address}}, Suite {{patron.AddressID.AptSuite}}</td>
              {% else %}
                  <td>{{patron.AddressID.Address}}</td>
              {% endif %}
              
            </tr>
            <tr>
              <th>City:</th>
              <td>{{ patron.AddressID.City }}</td>
            </tr>
            <tr>
              <th>Province:</th>
              <td>{{ patron.AddressID.ProvinceID.ProvinceLongName }}</td>
            </tr>
            <tr>
              <th>Postal Code:</th>
              <td>{{ patron.AddressID.PostalCode }}</td>
            </tr>
            <tr>
              <th></th>
              <td></td>
            </tr>
          </table>

          <h1 id="title">Contact Information</h1>
          <table class="contact-information">
          <tr>
              <th>Email:</th>
              <td>{{ patron.Email }}</td>
            </tr>
            {% for num in phone_numbers %}
            <tr>
              <th>{{ num.PhoneNumberID.PhoneNumberType.PhoneNumberType }} Number:</th>
            {% if num.PhoneNumberID.Extension %}
            <td>{{num.PhoneNumberID.PhoneNumber}} ext. {{ num.PhoneNumberID.Extension }}</td>
            {% else %}
            <td>{{num.PhoneNumberID.PhoneNumber}}</td>
            {% endif %}
              
            </tr>
            {% endfor %}
          </table>
        </div>
      </section>

      <script>
        var editBtn1 = document.getElementById('editBtn1');
        var editables1 = document.querySelectorAll('#thing')
        
        editBtn.addEventListener('click', function(e) {
            if (!editables1[0].isContentEditable) {
                editables1[0].contentEditable = 'true';
                editables1[1].contentEditable = 'true';
                editables1[2].contentEditable = 'true';
                editables1[3].contentEditable = 'true';
                editables1[4].contentEditable = 'true';
                editables1[5].contentEditable = 'true';
                editables1[6].contentEditable = 'true';
                editables1[7].contentEditable = 'true';
                editBtn1.innerHTML = 'Save Changes';
                editBtn1.style.backgroundColor = '#b56576ff';
             } else {
            // Disable Editing
            editables1[0].contentEditable = 'false';
            editables1[1].contentEditable = 'false';
            editables1[2].contentEditable = 'false';
            editables1[3].contentEditable = 'false';
            editables1[4].contentEditable = 'false';
            editables1[5].contentEditable = 'false';
            editables1[6].contentEditable = 'false';
            editables1[7].contentEditable = 'false';
            // Change Button Text and Color
            editBtn1.innerHTML = 'Edit Patron Details';
            editBtn1.style.backgroundColor = '#355070ff';
            // Save the data in localStorage 
            for (var i = 0; i < editables.length; i++) {
              localStorage.setItem(editables1[i].getAttribute('id'), editables1[i].innerHTML);
            }
          }
        });      
      </script>

    </div>
 
      <div class="item3"> 
        <h3>Outstanding Orders</h3>
        <table class="outstanding">
          <tr>
            <th>Order ID</th>
            <th>Start Date/Time</th>
            <th>Estimated End Date/Time</th>
          </tr>
          {% for order in orders %}
          {% if not order.EndDate %}
          <tr>
            <td><a class="nav-link" href="{% url 'orderdetails' order.OrderID %}">{{ order.OrderID }}</a></td>
            <td>{{order.StartDate}}</td>
            <td>{{order.EstimatedEndDate}}</td>
          </tr>
          {% endif %}
        {% endfor %}
        </table>
        
        <h3>Past Orders</h3>
        <table class="past">
          <tr>
            <th>Order ID</th>
            <th>Start Date/Time</th>
            <th>End Date/Time</th>
          </tr>
          {% for order in orders %}
          {% if order.EndDate %}
          <tr>
            <td><a class="nav-link" href="{% url 'orderdetails' order.OrderID %}">{{ order.OrderID }}</a></td>
            <td>{{ order.StartDate }}</td>
            <td>{{ order.EndDate }}</td>
          </tr>
          {% endif %}
          {% endfor %}
        </table>

      

      
    </div>
  </div>

</body>
{% endblock content %}
</html>