{% extends "invoice/app_base.html" %}
{% load static %}
{% block content %}
{% load invoicefilters %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Invoices</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/invoice.css' %}">
    <script src="https://kit.fontawesome.com/08e9ccd70e.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
    <script>
        function myFunction() {
            var input = document.getElementById("search");
            var filter = input.value.toLowerCase();
            var x = document.getElementsByClassName('target');
            var nodes = document.getElementsByClassName('target');

            for (i = 0; i < nodes.length; i++) {
                if (nodes[i].innerText.toLowerCase().includes(filter)) {
                    nodes[i].style.display = "block";
                } else {
                    nodes[i].style.display = "none";
                }
            }
        }
    </script>
</head>

<body>
    <h1>Invoices</h1>
    <!-- search bar -->
    <div class="row">
        <div class="column-8" style="visibility: hidden;">hidden</div>
        <div class="column-three-q">
            <form action="#" class="searchform">
                <input type="search" name="search" id="search" class="searchbox" placeholder="Search Invoices">
                <button type="submit" class="searchbutton"><i class="fa fa-search"></i></button>
            </form>
        </div>
    </div>


    <!-- invoices -->
    <div class="row">
        <div class="column-8" style="visibility: hidden;">hidden</div>
        <div class="column-three-q">
            <br>
            <table style="width: 100%; text-align: center; table-layout: fixed;">
                <tr>
                    <th>Invoice Number</th>
                <th>Customer</th>
                <th>Invoice Total</th>
                <th>Due Date</th>
                <th style="visibility: collapse;">Hidden </th>
                </tr>
                
            </table>

            <!-- invoice loop start -->
            {% for invoice in invoices %}
                <div class="details">
                    <div class="row" style="text-align: center;">

                        <div class="column-5">
                            <p>{{ invoice.InvoiceID }}</p>
                        </div>
                        <div class="column-5">
                            <p>{{ invoice.CustomerID.CustomerID|selected_customer_name }}</p>
                        </div>
                        <div class="column-5">
                            <p>${{ invoice.CostID.Total }}</p>
                        </div>
                        <div class="column-5">
                            <p>{{ invoice.DueDate }}</p>
                        </div>
                        <a href="{% url 'new invoice' invoice.pk%}">
                            <div class="column-5" style="text-align: right;">
                                <br>
                                <i class="fas fa-chevron-right"></i>
                            </div>
                        </a>
                    </div>
                </div>
            {% endfor %}
                

            <!-- invoice loop end -->

            {% comment %} <div class="target">
                <div class="details">
                    <div class="row" style="text-align: center;">

                        <div class="column-5">
                            <p>InvoiceID</p>
                        </div>
                        <div class="column-5">
                            <p>Business Name</p>
                        </div>
                        <div class="column-5">
                            <p>Total</p>
                        </div>
                        <div class="column-5">
                            <p>Due Date</p>
                        </div>
                        <div class="column-5" style="text-align: right;">
                            <br>
                            <a href="invoice_details.html"><i class="fas fa-chevron-right"></i></a>
                        </div>
                    </div>
                </div>
            </div> {% endcomment %}


        </div>

    </div>

</body>
{% endblock content %}
</html>