<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
    {% extends "retail/app_base.html" %}
    {% block content %}
    
        <p>Employees</p>
        <p>testing adding to this line</p>
        <p>adding another line just to see</p>
        <ul>
        {% for employee in employee_list%}
        <li>{{employee.EmployeeID}}</li>
        <li>{{employee.FirstName}}</li>
        <li>{{employee.LastName}}</li>
        {% endfor %}
        </ul>
        {% endblock content %}
    </body>
</html>