{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type = "text/css" href="{% static 'css/menu.css' %}">
        <script src="https://kit.fontawesome.com/08e9ccd70e.js" crossorigin="anonymous"></script>
    </head>
    {% comment %} menu bar for entire application {% endcomment %}
    <body class= menubody>
        <ul class= menubar>
            <li class= menuitem><a href = '/' >Home</a></li>
            <li class= menuitem><a href = "/inventory/">Inventory</a></li>
            <li class= menuitem><a href = '/customer/patron.html' >Patrons</a></li>
            <li class= menuitem><a href = '/customer/business.html' >Business</a></li>
            <li class= menuitem><a href = '/quote/' >Quotes</a></li>
            <li class= menuitem><a href = '/order/' >Orders</a></li>
            <li class= menuitem><a href = '/invoice/' >Invoices</a></li>
            <li class= menuitem><a href = '/retail/retail.html' >Retail</a></li>
            <li class= menuitem><a href = '/admin/' >Admin</a></li>
            <li id = "new-order"><a href = '/cart/'>Cart</a></li>
        </ul>

    {% block content %}
    
    {% endblock content %}

{% comment %} <footer>
    <div class="footer">
        <div class="row">
            <div class="column-3">
                <h3>Quick Links</h3>
                
                <p><a href="#">Help Desk</a></p>
                <p><a href="#">Store Directory</a></p>
                <p><a href="#">Shpping Information</a></p>
                <p><a href="#">Tool Knowledge Repository</a></p>
                <p><a href="#">Requests</a></p>
                <p><a href=#>Reports</a></p>
            </div>
            <div class="column-3">
                <div class="row">
                    <div class = "column-2">
                        <img src="{% static 'images/ATSR_logo.png' %}" alt="logo" height="200">
                    </div>
                    <div class = "column-2">
                        <h3>ATSR HQ</h3>
                        <p>Daphne Taras</p>
                        <p>333 Victoria Rd</p>
                        <p>Toronto</p>
                        <p>Ontario, M4M 9B0</p>
                        <p>+1 800-287-7040</p>
                        <p>inquiries@ATSR.com</p>
                    </div>
                </div>
            </div>
            <div class="column-3">
                <div class="row">
                    <div class = "column-2">
                        <img src="{% static 'images/skydive_logo.png' %}" alt="skydive-logo" height="200">
                    </div>
                    <div class = "column-2">
                        <h3>About Solution</h3>
                        <p><strong>BTM Capstone Project</strong>  <br> Ryerson University <br> ITM 90A/B 2020/2021</p>
                        
                        <p><strong>Designers:</strong><br> Nadia Balram Roy <br> Lauren Shver<br> Reem Kaid</p>
                        <a href="https://github.com/laurenshver/capstone" target="_blank"><i class="fab fa-github fa-2x"></i></a>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer> {% endcomment %}
    </body>
</html>