{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type = "text/css" href="{% static 'css/menu.css' %}">
    </head>
    {% comment %} menu bar for entire application {% endcomment %}
    <body class= menubody>
        <ul class= menubar>
            <li class= menuitem><a href = '/order/' >Home</a></li>
            <li class= menuitem><a href = "/inventory/">Inventory</a></li>
            <li class= menuitem><a href = '/customer/' >Customers</a></li>
            <li class= menuitem><a href = '/quote/' >Quotes</a></li>
            <li class= menuitem><a href = '/order/' >Orders</a></li>
            <li class= menuitem><a href = '/retail/' >Retail</a></li>
            <li class= menuitem><a href = '/admin/' >Admin</a></li>
            <li id = "new-order"><a>New Order +</a></li>
        </ul>

    {% block content %}
    
    {% endblock content %}

    </body>
</html>

{% comment %} https://coolors.co/355070-6d597a-c38391-e56b6f-eaac8b colour scheme? {% endcomment %}