.menubody{
    padding: 0;
    margin: 0;
}

.menubar {
    list-style-type: none;
    /* keeps the bar up to the top */
    margin: 0; 
    padding: 0;
    background-color: #355070;
    overflow: hidden;
}

.menuitem {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#new-order{
    float: right;
    background-color: #b56576;
}

li a:hover {
    background-color: #b56576;
}

#new-order a:hover{
    background-color: #c38391;
}

#new-invoice{
    float: right;
    background-color: #41628b;
}

#new-invoice a:hover{
    background-color: #4e76a6;
}

/* footer */
footer{
    width: 100%;
    position: relative;
    bottom: 0;
    height: 2.5rem;
}

.footer{
    background-color: #355070;
    color: white;
    display: block;
    margin: 0;
    padding-top: 10px;
}


footer i{
    color: #b56576;
}


footer h3{
    color:#c38391;
    text-align: center;
}

footer p {
    color: white;
    text-align: center;
}

footer a{
    color: white;
    text-decoration: none;
}

footer .row{
    width: 100%;
}
.page-content{
    min-height: 100vh;
    position: relative;
}