.menubody{
    padding: 0;
    margin: 0;
}

.menubar {
    list-style-type: none;
    /* keeps the bar up to the top */
    margin: 0; 
    padding: 0;
    background-color: #355070;
    overflow: hidden;
}

.menuitem {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#new-order{
    float: right;
    background-color: #b56576;
}

li a:hover {
    background-color: #b56576;
}

#new-order a:hover{
    background-color: #c38391;
}

/* footer */
/* .footer{
    background-color: #355070;
    color: white;
    padding: 2%;
    display: block;
    position: relative;
    left:0;
    right:0;
    bottom: 0;
}

.column-3{
    float: left;
    width: 33.33%;
    text-align: center;
}

.column-2{
    float:left;
    width: 50%;
    text-align: center;
}
  
  /* Clear floats after the columns */
/* .row:after {
    content: "";
    display: table;
    clear: both;
  }

i{
    color: #b56576;
}

h3{
    color:#c38391;
}

a {
    color: white;
}

img {
    margin-top: auto;
    margin-bottom: auto;
    height: 250px;
} */