.column-3{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #f8f9fa;
    border-bottom: 1px #e9ecef solid;
}

h1{
    color: #355070;
    text-align: center;
 }